body{
   background-color: #faf9f6 ;
 
}
header{
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 15px;
background-image: url(background.jpg);
background-color: #885a3a;
color: #885a3a;
}

header h1  {
   display: inline-block;
    }

 header nav{
        float: right;
     }

header nav ul {
      padding: 15px;
      margin-right: 25px;
      float: right;
      font-size: 15px;
      list-style: none;
  }

header ul, li, a{
    display: inline;
    }
header a{
   color: #885a3a;
  padding: 20px;
   list-style: none;
  }

header ul, li, a{
    display: inline;
    }

        .float-left {
            float:left;
            margin-right: 20px;
            width: 30%;
          }
          .float-left-2{
            float: left;
            margin: 20px;
          }
          aside{
            border: #84735e 10px solid;
            overflow: hidden;
            padding: 10px;
          margin: 10px 10px ;
          width: 96%;
          height: 350px;
    
       
          }
aside img{
    height:100% ;
    width: auto;
    padding:10px 0px 1;
    border: black 4px solid;
    border-radius:50px 50px  ;
}


p{ 
    
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;  
}

 .aboutMe h2   {
     font-size: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.container ul{
font-size: 20px;
justify-content: center;
align-items: center;
display:block;
padding: 10px;
text-align: center;
border-style: solid;
border-width: 1px;
}
h3 a, img{
    width: 50vh;
    height: auto;
    float: inline-start;
}


.project{
    border: #885a3a 2px solid; 
    margin: 10px 10px;
    padding: 20px 10px;
    display: inline-block; 
    flex-wrap: row;
    justify-content: center;
    align-items: center;
}
 .project ul li{
    display: block;

}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #885a3a;
    color: #dbd0bd;
    overflow: hidden;
    font-size: 15px;
    }
    
footer h2  {
       display: inline-block;
        }
    

footer  ul {
          padding: 15px;
          margin-right: 25px;
          float: right;
         
      }
    
  footer ul, li, a{
        display: inline;
        }
 footer a{
       color: #dbd0bd;
      }
    
  
      @media screen (max-width: 992px)
 
        

      @media screen and (max-width: 768px) {
        nav {
          background-color: #dbd0bd;
        }
      
        header {
            color: #dbd0bd;
          background: #885a3a;
        }
        div{
            width:25%
        }
    p{    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh;  
}
      
      }
      @media screen and (max-width: 576px) {
       
        header {
          background: #885a3a;
          color: #dbd0bd;
   
        }
        header ul a{
            float:left;
            display: inline-block;
            padding: 5px;
        }
        aside{
            border: #84735e 3px solid;
            overflow: hidden;
          }
        p{ color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh;  
}

      }
      a:hover{
        color: #84735e;
        }